
.cart--toggle{
  position: relative;
}

.cart{
  margin-right: 1.2rem;
}
.total{
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-size: .7rem;
  padding: .001rem .2rem;
  border-radius: 50%;
  font-weight: 400;
}

.toggle{
  height: 15.625rem;
  width: 21.875rem;
  position: absolute;
  right: -46.9px;
  top: 2.8rem;
  border-radius: 10px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
  background-color: #fff;


}

.no-toggle{
  display: none;
}

.cart--title{
  margin: 0;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  font-weight: 700;
}

hr{
  margin: 0;
}

.cart--content{
  text-align: center;
  vertical-align: middle;
  line-height:9rem;
  font-size: 1rem;
  color:  hsl(219, 9%, 45%);
  font-weight: 400;
}

.sidebar{
  display: block;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 25rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.no-sidebar{
  display: none;
}

.side-bar-elements{
  background-color: #fff;
  height: 100vh;
  width: 15rem;

}

.close-icon{
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sidebar--menu{
  line-height: 2;
  list-style: none;
  margin: 0;
  padding-left: 1.5rem;
  font-weight: 400;
  font-size: 1rem;

}

.desktop--menu{
  display: none;
}

.cart--detail--checkout{
  margin-top: 20px;
}

.cart--detail--para{
  color: hsl(219, 9%, 45%);
  font-weight: 400;
}

.cart--detail--para span{
 font-weight: 700;
 color: #000;
}

.cart--detail--content{
  margin: .5rem 1.2rem;
  display: flex;
  align-items: center;
}

.checkout--btn{
  width: 90%;
  background-color: hsl(26, 100%, 55%);
  padding: 1rem 0rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 20px;
}

.cart--image{
  width: 20%;
  height: 3.75rem;
  border-radius: 5px;
}

.deleteIcon{
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.checkout--btn--div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart--detail--para{
  margin-inline: 15px;
}



@media only screen and (min-width: 1000px) {
  
  .sidebar{
    display: none;
  }

  .hamburger--logo{
    display: none;
  }

  .desktop--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .navbar{
    margin: 3rem 6rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(155, 152, 152);
  }

  .logo--menu{
    display: flex;
    
  }

  .collection,
  .men, 
  .women,
  .about,
  .contact{
    margin-left: 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .collection:hover,
  .men:hover, 
  .women:hover,
  .about:hover,
  .contact:hover{
    padding-bottom: 2.9rem;
    border-bottom: 3px solid hsl(26, 100%, 55%);
    cursor: pointer;
  }
  
  .avatar{
    width: 50px;
    margin-left: 1.4rem;
  }


  .cart{
    width: 40px;
  }

  .total{
    bottom: 60%;
    font-size: 1rem;
    padding: .01rem .3rem;
  }
  
  .toggle{
    /* z-index: 999; */
    /* background-color: white; */
    right:-120px;
    width: 25rem;
    font-size: 1rem;
  }
  .cart--content{
    line-height: 1;
  }

  .cart--toggle{
    line-height: 1;
  }
  .cart--detail--checkout{
    margin-top: 1rem;
  }
  .cart--title{
    font-size: 1.5rem;
  }
  

}