.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 1.4rem .1rem 1.4rem;
  position: relative;

}
.hamburger--logo{
  display: flex;
  align-items: center;
}

.hamburger{
  margin-right: .7rem;
}
.basket--profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.avatar{
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.avatar:hover{
  border: 2px solid hsl(26, 100%, 55%);
  cursor: pointer;
  transition: border 0.2s;
}

.cart:hover{
  cursor: pointer;
}



@media only screen and (min-width: 1000px){
  
 
}