.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .9rem 1.4rem .2rem 1.4rem;
  position: relative;

}
.hamburger--logo{
  display: flex;
  align-items: center;
}

.hamburger--logo h1{
  padding: 0;
  margin: 0;
  margin-bottom: .5rem;

}
.hamburger{
  margin-right: .7rem;
}
.basket--profile{
  display: flex;
  align-items: center;
}

.cart--total{
  position: relative;
}

.cart{
  margin-right: .7rem;
}
.total{
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-size: .7rem;
  padding: .001rem .2rem;
  border-radius: 50%;
  font-weight: 700;
}

.cart:hover, .avatar:hover{
  cursor: pointer;
}

.avatar{
  width: 40px;
}
.hoverresultdiv{
  height: 200px;
  width: 90%;
  background-color: hsl(26, 100%, 55%);
  box-shadow: 0px 5px 3px hsl(26, 100%, 55%);
  position: absolute;
  right: 20px;
  top: 80px;
  border-radius: 10px;
  padding: .5rem .1rem;
}

.cart-title{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}
.cart-title h2{
  margin: 0;
  padding: .9rem 1.4rem .8rem 1.2rem;
  font-size: .9rem;
}

.cart-empty{
  position: relative;
  float: left;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}