.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 1.4rem .1rem 1.4rem;
  position: relative;

}
.hamburger--logo{
  display: flex;
  align-items: center;
}

.hamburger{
  margin-right: .7rem;
}
.basket--profile{
  display: flex;
  align-items: center;
}


.avatar{
  width: 2.3rem;
}
.cart:hover, .avatar:hover{
  cursor: pointer;
}

.avatar:hover{
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  transition: all ease-out;
}

@media only screen and (min-width: 1000px){
  .desktop--menu{
    display: block;
    justify-content: space-between;
    align-items: center;
    
  }
}