.preview-slider{
  display: none;
}
@media only screen and (min-width: 1000px){
  .preview-slider{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    padding-top: 1.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);

  }
}